<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="logback/defaults.xml"/>
    <include resource="logback/defaults-file.xml"/>
    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="async_info_log"/>
        <appender-ref ref="async_error_log"/>
        <appender-ref ref="async_debug_log"/>
    </root>
</configuration>